<% layout('layouts/boilerplate') %>
<div class="row">
    <div class="col6 offset-3">
        <div class="card mb-3" style="width: 18rem;">
            <img src="<%= campground.image %> " class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= campground.title %></h5>
              <p class="card-text"><%= campground.description %> </p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">$<%= campground.price %>/night</li>
              <li class="list-group-item text-muted"><%= campground.location %></li>
            </ul>
            <div class="card-body">
              <a href="/campgrounds/<%= campground._id %>/edit" class="card-link btn btn-info">Edit</a>
              <form class="d-inline" action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST"><button class="btn btn-danger">Delete</button>
              </form>
              <a href="/campgrounds/" class="card-link">All Campgrounds</a>
            </div>
            <div class="card-footer text-muted">2 days ago</div>
          </div>
          <div>
            <form action="" class="mb-3">
                <h2>Leave a Review</h2>
                <div class="mb-3">
                    <label class="form-label" for="rating">Rating</label>
                    <input class="form-range" type="range" min="1" max="5" id="rating">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="body">Review</label>
                    <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3"></textarea>
                </div>
                <button class="btn btn-success">submit</button>
            </form>
          </div>
    </div>
</div>
<!-- 

    <h1><%= campground.title %></h1>
    <h2><%= campground.location %></h2>
    <img src="<%= campground.image %> " alt="">
    <p><%= campground.description %> </p>
    <p><a href="/campgrounds/<%= campground._id %>/edit">Edit Campground</a>
    </p>
    <ul>
        <h2>
            <%= campground.title %>
        </h2>
        <li>
            $<%= campground.price %>
        </li>
        <li>
            <%= campground.description %>
        </li>
        <li>
            <%= campground.location %>
        </li>
    </ul>
    <p>
    <form action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST"><button>Delete</button>
    </form>
</p>
    <footer>
        <a ></a>
    </footer> -->