<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center"> Edit Campground </h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST" novalidate class="validated-form">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" name="campground[title]"
                        value="<%=campground.title%>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" class="form-control" id="location" name="campground[location]"
                        value="<%=campground.location%>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image URL</label>
                    <input type="text" class="form-control" id="image" name="campground[image]"
                        value="<%=campground.image %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Campground Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="number" class="form-control" id="price" name="campground[price]"
                            aria-describedby="price-label" value="<%=campground.price%>" required>
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea type="text" class="form-control" id="description" name="campground[description]"
                        required><%=campground.description %></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Upgrade Campground</button>
                </div>
            </form>
            <a href="/campgrounds">All Campgrounds</a>
            <a href="/campgrounds/<%=campground._id%>">Back To Campground</a>
        </div>
    </div>

    <!-- <h1>Edit the Campground</h1>
    <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST">
        <div>
            <label for="title">Name</label>
            <input type="text" id="title" name="campground[title]" value="<%=campground.title%>">
        </div>
        <div>
            <label for="price">Price</label>
            <input type="text" id="price" name="campground[price]" value="<%=campground.price%>">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="campground[location]" value="<%=campground.location%>">
        </div>
        <div>
            <label for="description">Description</label>
            <input type="text" id="description" name="campground[description]" value="<%=campground.description%>">
        </div>
        <button>Update Campground</button>
    </form>
    <a href="/campgrounds">All Campgrounds</a>
    <a href="/campgrounds/<%=campground._id%>">Back To Campground</a> 
 <form action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST"><button>Delete</button>
    </form> -->