<% layout('layouts/boilerplate') %>
    <h1><%= campground.title %></h1>
    <h2><%= campground.location %></h2>
    <img src="<%= campground.image %> " alt="">
    <p><%= campground.description %> </p>
    <p><a href="/campgrounds/<%= campground._id %>/edit">Edit Campground</a>
    </p>
    <!-- <ul>
        <h2>
            <%= campground.title %>
        </h2>
        <li>
            $<%= campground.price %>
        </li>
        <li>
            <%= campground.description %>
        </li>
        <li>
            <%= campground.location %>
        </li>
    </ul> -->
    <p>
    <form action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST"><button>Delete</button>
    </form>
</p>
    <footer>
        <a href="/campgrounds/">All Campgrounds</a>
    </footer>