<% layout('layouts/boilerplate') %>
    <!-- <h1><%= campground.title %></h1>
    <h2><%= campground.location %></h2> -->
    <ul>
        <h2>
            <%= campground.title %>
        </h2>
        <li>
            $<%= campground.price %>
        </li>
        <li>
            <%= campground.description %>
        </li>
        <li>
            <%= campground.location %>
        </li>
    </ul>
    <div>
        <a href="/campgrounds/<%=campground._id%>/edit">Edit Campground</a>
    </div>
    <div>
        <a href="/campgrounds/">All Campgrounds</a>
    </div>
    <form action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST"><button>Delete</button>
    </form>